body {
    font-family: 'Montserrat';
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* Change to column layout */
    align-items: center;
    min-height: 100vh;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Regular.ttf') format('truetype'); /* Replace with the actual file name and format */
    font-weight: normal;
    font-style: normal;
}

svg {
    background-size: cover;
    width: 100%;
    display: block;
  }

.svg-text {
    font-family: 'Libre Bodoni', serif;
    font-weight: bold;
    font-size: 6px;
    fill: #6b9c6a;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px;
    width: 70%;
    text-align: center;
    background-color: #fff; /* Add a background color to the container */
    border-radius: 0px; /* Add some border-radius for the container */
    margin-top: 0px;
}

.section {
    background-color: #ffffff;
    border-radius: 0px;
    padding: 35px;
    margin-top: 0px;
}

/* Media query for mobile devices (max-width: 767px) */
@media (max-width: 767px) {
    .container {
        width: 100%;
        padding: 0px;
    }

    .section {
        box-shadow: 0 0 0px rgba(0, 0, 0, 0);
    }
}

h1 {
    color: #6b9c6a;
    font-size: 2rem;
    margin-bottom: 40px;
    margin-top: 40px;
}

label {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #4f4f4f;
    font-weight: bold;
    font-size: 18px;
}

input[type="text"],
input[type="date"],
input[type="number"],
select {
    padding: 10px;
    border: 0px solid #e6e6e670;
    background-color: #e6e6e670;
    border-radius: 0px;
    width: 100%;
    text-align: center;
    margin: 5px 0;
    height: 40px;
    font-size: 16px;
    font-family: "Arial", sans-serif;
    box-sizing: border-box;
    vertical-align: middle;
    opacity: 0.75;
}

/* Mouse-over effects */
input[type="text"]:hover,
input[type="date"]:hover,
input[type="number"]:hover,
select:hover,
.radio-container:hover {
    opacity: 1;
}

button {
    padding: 10px 20px;
    background-color: #f85376;
    color: #fff;
    border: none;
    width: 50%;
    cursor: pointer;
    margin-top: 20px;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #d93357;
}

.row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.row-label {
    flex: 0 0 80%;
    text-align: left;
    color: #4f4f4f;
    font-size: 16px;
}

.row-input {
    width: 50px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #421411;
    border-radius: 5px;
}

.slidecontainer {
    width: 100%;
}

/* The slider itself */
.slider {
    -webkit-appearance: none;
    margin-top: 5px;
    appearance: none;
    width: 100%;
    height: 40px;
    background: #e6e6e670;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1;
}

/* The slider handle */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 45px;
    background: #6b9c6a;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #6b9c6a;
    cursor: pointer;
}

.slider-labels {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding: 0 5px;
    position: relative;
    width: 100%;
}

.slider-labels .slider-label {
    text-align: center;
    font-size: 12px;
    width: 50%; /* Set each label to take up 50% of the available width */
}

.slider-labels .slider-label:first-child {
    text-align: left; /* Align the first label to the left */
}

.slider-labels .slider-label:last-child {
    text-align: right; /* Align the last label to the right */
}

/* Radio Container */
.radio-container {
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 0px;
    background-color:#e6e6e670;
    opacity: 0.75;
}

/* Radio Labels */
.radio-container label {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #4f4f4f;
    font-weight: normal;
    font-size: 16px;
}

#data-table {
    width: 100%;
    border-collapse: collapse;
}

#data-table th, #data-table td {
    padding: 8px;
    text-align: center;
}

#data-table th {
    background-color: #e6e6e670;
}

.key-results {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    margin: 40px 0;
}

.result1 {
    flex: 1;
    margin-right: 10px;
    text-align: center;
    background-color: #e6e6e670;
}

.result2 {
    flex: 1;
    margin-left: 10px;
    text-align: center;
    background-color: #e6e6e670;
}




