body {
    font-family: "Arial", sans-serif;
    background-color: #ecf5ec;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    width: 80%;
    text-align: center;
}

.section {
    background-color: #ffffff;
    border-radius: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 35px;
    margin-top: 20px;
}

h1 {
    color: #6b9c6a;
    font-size: 2rem;
    margin-bottom: 40px;
    margin-top: 40px;
}

label {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #4f4f4f;
    font-weight: bold;
    font-size: 18px;
}

input[type="text"],
input[type="date"],
input[type="number"],
select {
    padding: 10px;
    border: 0px solid #efefef70;
    background-color: #efefef70;
    border-radius: 0px;
    width: 100%;
    text-align: center;
    margin: 5px 0;
    height: 40px;
    font-size: 16px;
    font-family: "Arial", sans-serif;
    box-sizing: border-box;
    vertical-align: middle;
    opacity: 0.75;
}

/* Mouse-over effects */
input[type="text"]:hover,
input[type="date"]:hover,
input[type="number"]:hover,
select:hover,
.radio-container:hover {
    opacity: 1;
}

button {
    padding: 10px 20px;
    background-color: #6b9c6a;
    color: #fff;
    border: none;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    margin-top: 20px;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #497f54;
}

.gaaVidereKnapp {
    padding: 10px 20px;
    background-color: #6b9c6a;
    color: #fff;
    border: none;
    border-radius: 20px;
    width: 30%;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 16px;
    height: 40px;
    transition: background-color 0.3s; 
}

#result {
    margin-top: 20px;
}

.hidden {
    display: none;
}

.row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.row-label {
    flex: 0 0 80%;
    text-align: left;
    color: #4f4f4f;
    font-size: 16px;
}

.row-input {
    width: 50px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #421411;
    border-radius: 5px;
}

.slidecontainer {
    width: 100%;
}

/* The slider itself */
.slider {
    -webkit-appearance: none;
    margin-top: 5px;
    appearance: none;
    width: 100%;
    height: 40px;
    background: #efefef70;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1;
}

/* The slider handle */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 45px;
    background: #6b9c6a;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #6b9c6a;
    cursor: pointer;
}

.slider-labels {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding: 0 5px;
    position: relative;
    width: 100%;
}

.slider-labels .slider-label {
    text-align: center;
    font-size: 12px;
    width: 50%; /* Set each label to take up 50% of the available width */
}

.slider-labels .slider-label:first-child {
    text-align: left; /* Align the first label to the left */
}

.slider-labels .slider-label:last-child {
    text-align: right; /* Align the last label to the right */
}

/* Radio Container */
.radio-container {
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 0px;
    background-color:#efefef70;
    opacity: 0.75;
}

/* Radio Labels */
.radio-container label {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #4f4f4f;
    font-weight: normal;
    font-size: 16px;
    font-family: "Arial", sans-serif;
}

#data-table {
    width: 100%;
    border-collapse: collapse;
}

#data-table th, #data-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

#data-table th {
    background-color: #f2f2f2;
}